*{
    padding: 0;
    margin: 0;
    /* background-color: #1a1a1a; Mudar a cor do fundo */
}

body{
    background-color: #ffffff;
}

li a{
    text-decoration: none; /*Remove o sublinhado */
    font-size: 20px; /* Tamanho da font*/
    color: #000000; /*Mudar a cor da font*/
    padding: 20px;
    font-weight: bold;

    }
    
    li{
        list-style: none; /* Remover formartação da lista*/

    }
    
    #logo{
    
        height: 30px; /*Altura*/
        width: 100px; /*Largura*/
        padding: 20px;

    }
    
    ul{
        display: flex; /*Indica a prpriedade FlexBox*/
        flex-direction: row; /*Colocar os elementos na horizontal ou na vertical*/
    
    }

    .menu{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
       
    }

    .carousel{
        display: flex;
        flex-direction: row;
        justify-content: center;
       
    }

      .card{
        width: 300px;
        height: 300px;
        border-radius: 4px;
        border: 1px solid black;
        padding: 20px;
        margin: 18px;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: space-around;
        
      }

      .texto-card{
        font-size: 20px;
        font-weight: bold;
        
      }

      .categorias{
        border-radius: 20px;
        border: 1px solid black;
        padding: 7px;
      }


      .categorias-cards{
        
        display: flex;
        flex-direction: row;
        justify-content: space-around;
      }

      .titulo{
        font-size: 27px;
        font-weight: bold;
        margin: 10px;
      }

     
      .card-btns{
        width: 90px;
        height: 80px;
        margin: 10px;
        display: flex;
        justify-content: space-evenly;
        flex-direction: column;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        gap: 10px;
      }

      .btn-1{
        border-radius: 50px;
        height: 45px;
        width: 200px;
        border-color: #ff0000;
 
      }

      .btn-2{
        border-radius: 50px;
        height: 45px;
        width: 200px;
       border: none;
        background-color: #ff0000;
        color: #ffffff;
      }

      .caixa-icone{
        display: flex;
        font-size: 15px;
        padding: 10px;
      }