*{
    padding: 0;
    margin: 0;
}

body{
    background-color: #ffffff;
}
   
li a{
text-decoration: none;
font-size: 20px; 
color: #000000; 
padding: 20px;
}

li{
    list-style: none; 
}

#logo{

    height: 20px;
    width: 70px;
    padding: 20px;
}

ul{
    display: flex;
    flex-direction: row; 


}

.menu{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
   
}

.carousel{
    display: flex;
    flex-direction: row;
    justify-content: center;
   
}

  .card{
    width: 300px;
    height: 300px;
    border-radius: 4px;
    border: 1px solid black;
    padding: 20px;
    margin: 18px;
    
  }

  .texto-card{
    font-size: 20px;
    font-weight: bold;
    
  }